<section> 
    <!-- Heading 3 -->
    <p class="lead">itsjtrix on SoundCloud</p>
    
</section>

<section class="row">
    <div class="col-lg-4">
         <img src="soundcloud.jpg" alt="Jtrix SoundCloud">
    </div>
    <div class="col-lg-8">
        <p>Episode 4></p>
            [soundcloud url="https://api.soundcloud.com/tracks/107569218" width="100%" height="166" iframe="true" /]
    </div>
    
    <div class="col-lg-4">
        <img src="soundcloud.jpg" alt="Jtrix SoundCloud">
    </div>
    <div class="col-lg-8">
        <p>Episode 3</p>
            [soundcloud url="https://api.soundcloud.com/tracks/97766881" width="100%" height="166" iframe="true" /]
    </div>
    
    <div class="col-lg-4">
        <img src="soundcloud.jpg" alt="Jtrix SoundCloud">
    </div>
    <div class="col-lg-8">
        <p>Swedish House Mafia - Be Satisfaction vs. One</p>
      [soundcloud url="https://api.soundcloud.com/tracks/5409005" width="100%" height="166" iframe="true" /]
    </div>

    <div class="col-lg-4">
        <img src="soundcloud.jpg" alt="Jtrix SoundCloud">
    </div>
    <div class="col-lg-8">
        <p>Episode 1</p>
            [soundcloud url="https://api.soundcloud.com/tracks/86883973" width="100%" height="166" iframe="true" /]
    </div>
    
    <div class="col-lg-4">
        <img src="soundcloud.jpg" alt="Jtrix SoundCloud">
    </div>
    <div class="col-lg-8">
        <p>The.Thirty.One.Mix</p>
            [soundcloud url="https://api.soundcloud.com/tracks/74967636" width="100%" height="166" iframe="true" /]
    </div>
    
    <div class="col-lg-4">
        <img src="soundcloud.jpg" alt="Jtrix SoundCloud">
    </div>
    <div class="col-lg-8">
        <p>No Bounce Remix</p>
            [soundcloud url="https://api.soundcloud.com/tracks/28401345" width="100%" height="166" iframe="true" /]
    </div>

     <div class="col-lg-4">
        <img src="soundcloud.jpg" alt="Jtrix SoundCloud">
    </div>
    <div class="col-lg-8">
        <p>Let's Dance!</p>
            [soundcloud url="https://api.soundcloud.com/tracks/22322952" width="100%" height="166" iframe="true" /]
    </div>
    
       <div class="col-lg-4">
        <img src="soundcloud.jpg" alt="Jtrix SoundCloud">
    </div>
    <div class="col-lg-8">
        <p>Edward Maya ft. Viki Jigulina - Stereo Love</p>
            [soundcloud url="https://api.soundcloud.com/tracks/15271936" width="100%" height="166" iframe="true" /]
    </div>
    


 

    