<section>
	<!-- Unordered list, make "Home" a link and use "index.html" for the href attribute value -->
	<ul class="breadcrumb">
		<li><a href="index.html">Home</a></li>
        <li>Blog</li>
	</ul>
</section>
<section class="row"> 
<div class="col-lg-8">
	<article class="row blog-article">
    	<div class="col-lg-2">
            <div class="news-date">
                <!-- Heading 2 -->
                <h2>JUN</h2>

                <!-- Heading 3 -->  
                <h3>17</h3>
            </div>
		</div>
        
		<div class="col-lg-10">

			<!-- Heading 2 -->
			<h3>Magna Carta Holy Grail</h3>

			<!-- Paragraph -->
			<p>Jay-Z releasing a new album July 4th?!<br>
            Check out the teaser video featuring some of the best in the business.<br>
            #magnacarta</p>

			<!-- Link, make href attribute value = "#" -->
			<a href="#" class="more">More</a> 
            <hr>
   		</div>
 	</article>

    <article class="row blog-article">
    	<div class="col-lg-2">
            <div class="news-date">
    	
                <!-- Heading 2 -->
                <h2>MAY</h2>

                <!-- Heading 3 -->
                <h3>28</h3>
            </div>
		</div>
    
   	 	<div class="col-lg-10">
			<!-- Image, path to image is "images/blog2.png", enter "Blog photo" for alt attribute value -->
			<img src="images/blog1.png" alt="Blog Photo" class="img-responsive">

				<!-- Heading 2 -->
				<h2>Verizon/Samsung Galaxy S4 Event</h2>

				<!-- Paragraph -->
				<p>I’ll be DJing a Samsung Galaxy S4 demo event in Los Angeles. Live performances and Galaxy S4 demos.</p>

				<!-- Link, make href attribute value = "#" -->
			<a href="#" class="more">More</a>
            <hr>
    	</div>
   </article>

<article class="row blog-article">
    	<div class="col-lg-2">
            <div class="news-date">
                <!-- Heading 2 -->
                <h2>APR</h2>
                
                <!-- Heading 3 -->
                <h3>19</h3>
            </div>
  		</div>

        <div class="col-lg-10">
    
			<!-- Image, path to image is "images/blog3.png", enter "Blog photo" for alt attribute value -->
			<img src="images/blog2.png" alt="Blog Photo" class="img-responsive">

				<!-- Heading 2 -->
				<h2>Swedish House Mafia (minus Steve Angello)</h2>

				<!-- Paragraph -->
				<p>Well, it’s been circulating for about a two weeks now that former Swedish House Mafia members Sebastian Ingrosso and Axwell have formed a new production duo known as Departures, and it seems like a lot of EDM fans are up in arms saying that their “One Last Tour” wasn’t a last anything at all.<br>

True, if you’re going to see a Departures performance in the future, you’ll probably be getting a similar show just without the third “Mafia” member, Steve Angello, but my speculation is that these two couldn’t keep the Swedish House Mafia name for legal reasons.<br>

For whatever reason Ingrosso and Axwell decided to leave, it must’ve had something to do with how they couldn’t work with Steve Angello anymore.  I mean c’mon, you’re choosing a name called Departures, as in, we’re departing from the one person we had differences with?  <br>

It’s cool, Steve Angello is rich, has his own label (Size Records), and has a beard.  Take THAT Ingrosso and Axwell.</p>
	
				<!-- Link, make href attribute value = "#" -->
				<a href="#" class="more">More</a>
                <hr>
	 	 </div>
 	</article>
    
    <article class="row blog-article">
    	<div class="col-lg-2">
            <div class="news-date">
    	
                <!-- Heading 2 -->
                <h2>APR</h2>

                <!-- Heading 3 -->
                <h3>11</h3>
            </div>
		</div>
    
   	 	<div class="col-lg-10">
			<!-- Image, path to image is "images/blog2.png", enter "Blog photo" for alt attribute value -->
			<img src="images/blog3.png" alt="Blog Photo" class="img-responsive">

				<!-- Heading 2 -->
				<h2>Jtrix Radio Episode 001</h2>

				<!-- Paragraph -->
				<p>New Podcast. Each month I’ll be releasing a mix of different music and or genres that I’m “feelin” at the moment.  Keep checking my Soundcloud for new episodes.</p>
             <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/86883973"></iframe>

				<!-- Link, make href attribute value = "#" -->
			<a href="#" class="more">More</a>
            <hr>
    	</div>
   </article>
    
        <article class="row blog-article">
    	<div class="col-lg-2">
            <div class="news-date">
    	
                <!-- Heading 2 -->
                <h2>MAR</h2>

                <!-- Heading 3 -->
                <h3>18</h3>
            </div>
		</div>
    
   	 	<div class="col-lg-10">
			<!-- Image, path to image is "images/blog2.png", enter "Blog photo" for alt attribute value -->
			<img src="images/blog4.png" alt="Blog Photo" class="img-responsive">

				<!-- Heading 2 -->
				<h2>Kaskade</h2>

				<!-- Paragraph -->
				<p>As I sit here finishing up Kaskade’s live set from this past weekend at Ultra Music Festival in Miami, I can’t help but amazed about how this guy goes out on stage and just destroys every show he plays at.  His blend of vocals from his signature tracks combined with current Electro/Progressive House bangers is the perfect formula for a DJ set that never sounds the same.  Sure, he’s using the same acapella but when he combines them with different buildups and drops, it’s always creating a new experience for the listener.<br>

I’m not a self-proclaimed house guru, in fact I never really listened to house much when I first started DJing 13 years ago, but I do remember hearing Kaskade’s name being brought up by fellow DJs that were also underground ravers and house heads.  Fast forward to now, when EDM is at the height of it’s popularity in the U.S., and you have Kaskade who is on another level in terms of DJing, producing, and super-stardom (is that a word?)<br>

I guess to sum it all up, at the end of the day I give Kaskade a tremendous about of respect not only for the music that he provides to the masses, but for him being a lasting figure in the house music scene, even when there weren’t millions of people selling out public festivals across the country.  As a DJ, I give him a ton of credit for riding out the days when he wasn’t a marque name and sticking to his passion and doing it for the love of music and the DJ craft, because as most DJs might know, this industry isn’t always bright lights and raised hands.<br>

Cheers to you Kaskade, keep representing the music and the DJ!</p>
            
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/83742832"></iframe>

				<!-- Link, make href attribute value = "#" -->
			<a href="#" class="more">More</a>
            <hr>
    	</div>
   </article>
    
    <article class="row blog-article">
    	<div class="col-lg-2">
            <div class="news-date">
    	
                <!-- Heading 2 -->
                <h2>FEB</h2>

                <!-- Heading 3 -->
                <h3>28</h3>
            </div>
		</div>
    
   	 	<div class="col-lg-10">
			<!-- Image, path to image is "images/blog2.png", enter "Blog photo" for alt attribute value -->
			<img src="images/blog6.png" alt="Blog Photo" class="img-responsive">

				<!-- Heading 2 -->
				<h2>DJing at Icon Saturdays in Downtown Los Angeles</h2>

				<!-- Paragraph -->
				<p>Join me this Saturday in the Main Room at Icon Ultra Lounge in Downtown Los Angeles. I’ll be playing EDM/Top 40 tunes!

For table service and/or Guestlist inquiries email: bookjtrix@gmail.com</p>
             <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/86883973"></iframe>

				<!-- Link, make href attribute value = "#" -->
			<a href="#" class="more">More</a>
            <hr>
    	</div>
   </article>
    
    
        <!-- Unordered list, make each a link and use "#" for the href attribute value -->
        <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
</div>
    
<!-- sidebar content -->
<div class="col-lg-4">
	<aside class="sidebar">
        <!-- Heading 2 -->
        <h2>Side Bar</h2>

            <!-- Paragraph -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <hr>
    </aside>
   	
    <aside class="sidebar">
        <!-- Heading 2 -->
        <h2>Instagram</h2>

        <!-- Organize the following images as an unorganized list -->
        <ul class="list-unstyled clearfix media-grid">

            <!-- Image, path to image is "http://distilleryimage11.s3.amazonaws.com/a64ff38a022711e3b55422000a9f1377_5.jpg", enter "Instagram" for alt attribute value -->	
            <li class="col-sm-4">
                <img src="http://distilleryimage11.s3.amazonaws.com/a64ff38a022711e3b55422000a9f1377_5.jpg" alt="Instagram" class="img-responsive"></li>

            <!-- Image, path to image is "http://distilleryimage4.s3.amazonaws.com/3d501cca014b11e389a922000aeb0c69_5.jpg", enter "Instagram" for alt attribute value -->	
            <li class="col-sm-4">
                <img src="http://distilleryimage4.s3.amazonaws.com/3d501cca014b11e389a922000aeb0c69_5.jpg" alt="Instagram" class="img-responsive">
            </li>

            <!-- Image, path to image is "http://distilleryimage9.s3.amazonaws.com/bfa27c96fe9811e28b6522000a1f97ac_5.jpg", enter "Instagram" for alt attribute value -->
            <li class="col-sm-4">
                 <img src="http://distilleryimage9.s3.amazonaws.com/bfa27c96fe9811e28b6522000a1f97ac_5.jpg" alt="Instagram" class="img-responsive">
            </li>
    
			<!-- Image, path to image is "http://distilleryimage9.s3.amazonaws.com/1ce78e44fd4211e2ab2122000a9f4dc5_5.jpg", enter "Instagram" for alt attribute value -->
            <li class="col-sm-4">
                <img src="http://distilleryimage11.s3.amazonaws.com/a64ff38a022711e3b55422000a9f1377_5.jpg" alt="Instagram" class="img-responsive">
            </li>
            
			<!-- Image, path to image is "http://distilleryimage6.s3.amazonaws.com/197269e4f6c811e2829522000a1fa769_5.jpg", enter "Instagram" for alt attribute value -->
           <li class="col-sm-4">
                <img src="http://distilleryimage9.s3.amazonaws.com/1ce78e44fd4211e2ab2122000a9f4dc5_5.jpg" alt="Instagram" class="img-responsive">
            </li>
            
            <!-- Image, path to image is "http://distilleryimage6.s3.amazonaws.com/197269e4f6c811e2829522000a1fa769_5.jpg", enter "Instagram" for alt attribute value -->
            <li class="col-sm-4">
                <img src="http://distilleryimage6.s3.amazonaws.com/197269e4f6c811e2829522000a1fa769_5.jpg" alt="Instagram" class="img-responsive"></li>
    		</ul>
 	  <hr>
    </aside>
    
    <aside class="sidebar">	
        <!-- Heading 2 -->
        <h2>Links</h2>

			<!-- Unordered list, make each a link and use "#" for the href attribute value -->
            <ul class="list-unstyled blog-links">
				<li>
                    <a href="#">
                        <i class="icon-angle-right">Theme Armada</i>
                    </a>
                </li>
				<li>
                    <a href="#">
                        <i class="icon-angle-right">Twitter Link</i>
                    </a>
                </li>
				<li>
                    <a href="#">
                        <i class="icon-angle-right">Insert Link Three</i>
                    </a>
                </li>
				<li>
                    <a href="#">
                        <i class="icon-angle-right">Insert Link Four</i>
                    </a>
                </li>
            </ul>
		  <hr>
        </aside>

    	<aside class=" sidebar boxed">
			<!-- Heading 2 -->
			<h2>Boxed</h2>

				<!-- Paragraph -->
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inc.</p>
		  <hr>
        </aside>
    </div>
    </section>