<!-- Unordered list, make "Home" a link and use "index.html" for the href attribute value -->
<section>
<ul class="breadcrumb">
		<li><a href="index.html">Home</a></li>
        <li>Contact</li>
	</ul>
</section>

<section>
	<!-- Heading 1 -->
	<h2>Get In touch</h2>

		<!-- Paragraph -->
		<p class="lead">We Would Love To Hear From You</p>

		<!-- Paragraph -->
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</section>

<section class="row contact-form">
<!-- Form content -->
<form action="#">
    <div class="col-lg-4">
        <!-- Input, type text, enter "Your name" for placeholder attribute -->
	   <input type="text" placeholder="Your Name" class="form-control">
    
	   <!-- Input, type text, enter "Your email address" for placeholder attribute -->
	   <input type="text" placeholder="Your Email Address" class="form-control">
    </div>
    <div class="col-lg-8">
	   <!-- Input, type text, enter "Subject" for placeholder attribute -->
	   <input type="text" placeholder="Subject" class="form-control">

	   <!-- Input, type textarea, enter "The message you want to send to me" for placeholder attribute -->
	   <textarea name="" id="text" cols="30" rows="10" placeholder="The message you want to send to me" class="form-control"></textarea>
                                                     
        <!-- Button, type submit	-->
        <button type="button" class="btn btn-primary btn-sm pull-right">Submit</button>
    </div>
</form>
</section>

<section class="row map">
<!-- Google map -->
<!-- Iframe, src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=atlanta&amp;aq=&amp;sll=32.678125,-83.178297&amp;sspn=8.89966,16.907959&amp;ie=UTF8&amp;hq=&amp;hnear=Atlanta,+Fulton,+Georgia&amp;t=m&amp;z=6&amp;iwloc=A&amp;output=embed" -->
<iframe class="site-frame" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=atlanta&amp;aq=&amp;sll=32.678125,-83.178297&amp;sspn=8.89966,16.907959&amp;ie=UTF8&amp;hq=&amp;hnear=Atlanta,+Fulton,+Georgia&amp;t=m&amp;z=6&amp;iwloc=A&amp;output=embed"></iframe>
</section>