<section class="row well">
    <!-- Heading 3 -->
    <h3>Upcoming Shows...</h3>
</section>

<section class="row">
    <div class="col-lg-4">
	<article class="row blog-article">
    	<div class="col-lg-4">
            <div class="news-date">
                <!-- Heading 2 -->
                <h2>Dec 14</h2>
            </div>
        <div class="col-lg-4">
            	<!-- Heading 2 -->
			<p>The Grand</p>
			<!-- Paragraph -->
			<p>San Francisco, CA</p>
   		
        <a href="www.grandnightclub.com">www.grandnightclub.com</a>
		</div>
        </div>
		<div class="col-lg-4">
			<!-- Image, path to image is "images/blog1.png", enter "Blog photo" for alt attribute value -->
			<img src="images/grand.png" alt="NightClub" class="img-responsive" width="121px" height="64px">
        </div>
    </article>
        
        <article class="row blog-article">
    	<div class="col-lg-4">
            <div class="news-date">
                <!-- Heading 2 -->
                <h2>Dec 21</h2>
            </div>
		</div>
        
		<div class="col-lg-4">
			<!-- Image, path to image is "images/blog1.png", enter "Blog photo" for alt attribute value -->
			<a href="www.rubyeskye.com"><img src="images/rubyskye.png" alt="NightClub Photo" class="img-responsive" width="121px" height="64px"></a>
        </div>
             
 	</article>   

        <article class="row blog-article">
    	<div class="col-lg-4">
            <div class="news-date">
                <!-- Heading 2 -->
                <h2>Dec 28</h2>
            </div>  
		</div>
            
    	<div class="col-lg-4">
 
			<!-- Image, path to image is "images/blog1.png", enter "Blog photo" for alt attribute value -->
			<a href="www.sloanesf.com"><img src="images/sloane.png" alt="NightClub Photo" class="img-responsive" width="121px" height="64px"></a>
        </div>       
 	</article>
    
        <article class="row blog-article">
    	<div class="col-lg-4">
            <div class="news-date">
                <!-- Heading 2 -->
                <h2>Dec 31</h2>
            </div>    
		</div>
            
		<div class="col-lg-4">
			<!-- Image, path to image is "images/blog1.png", enter "Blog photo" for alt attribute value -->
			<a href="www.surrendernightclub.com"><img src="images/surrender.jpeg" alt="NightClub Photo" class="img-responsive" width="121px" height="64px"></a>
        </div>
        </article>
        
        <article class="row blog-article">  
    	<div class="col-lg-4">
            <div class="news-date">
                <!-- Heading 2 -->
                <h2>Jan 4</h2>
            </div> 
		</div>     
		<div class="col-lg-4">
			<!-- Image, path to image is "images/blog1.png", enter "Blog photo" for alt attribute value -->
			<a href="www.templesf.com"><img src="images/surrender.jpeg" alt="NightClub Photo" class="img-responsive" width="121px" height="64px"></a>
        </div>
 	</article>
    <article class="row blog-article">           
    	<div class="col-lg-4">
            <div class="news-date">
                <!-- Heading 2 -->
                <h2>Jan 11</h2>

            </div> 
		</div>

    <div class="col-lg-4">
		<div class="col-lg-4">
			<!-- Image, path to image is "images/blog1.png", enter "Blog photo" for alt attribute value -->
			<a href="www.vessel.com"><img src="images/surrender.jpeg" alt="NightClub Photo" class="img-responsive" width="121px" height="64px"></a>
        </div>
       
        
<div class="col-lg-4">
			<!-- Heading 2 -->
			<p>Ruby Skye</p>
			<!-- Paragraph -->
			<p>San Francisco, CA</p>
            <a href="www.rubyskye.com">www.rubyksye.com</a>
   		</div>
     
        
<div class="col-lg-4">
			<!-- Heading 2 -->
			<p>Sloane NightClub</p>
			<!-- Paragraph -->
			<p>San Francisco, CA</p>
            <a href="www.sloanesf.com">www.sloanesf.com</a>
   		</div>
        
<div class="col-lg-4">
			<!-- Heading 2 -->
			<p>Surrender</p>
			<!-- Paragraph -->
			<p>Las Vegas, NV</p>
            <a href="www.surendernightclub.com">www.surrendernightclub.com</a>
   		</div>
        
<div class="col-lg-4">
			<!-- Heading 2 -->
			<p>Temple NightClub</p>
			<!-- Paragraph -->
			<p>San Francisco, CA</p>
            <a href="www.templesf.com">www.templesf.com</a>
   		</div>
        
<div class="col-lg-4">
			<!-- Heading 2 -->
			<p>Vessel NughtClub</p>
			<!-- Paragraph -->
			<p>San Francisco, CA</p>
            <a href="www.vessel.com">www.vessel.com</a>
   		</div>  
</div>
        