<section>
		<!-- Unordered list, make "Home" a link and use "index.html" for the href attribute value -->
		<ul class="breadcrumb">
		<li><a href="index.html">Home</a></li>
        <li>Services</li>
	</ul>
</section>

<section>
		<!-- Heading 2 -->
		<h2>Our Services</h2>
	
		<!-- Paragraph -->
		<p class="lead">Learn About What We Do</p>

		<!-- Paragraph -->
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>

<section class="row">
	<div class="col-lg-6">
        <div class="col-sm-3 text-center">
            <i class="icon-thumbs-up-alt icon-4x service-icon"></i>
        </div>
        <div class="col-sm-9">
		  <!-- Heading 2 -->
		  <h2>Built w/ Bootstrap</h2>
			<!-- Paragraph -->
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
	   </div>
    </div>

	<div class="col-lg-6">
        <div class="col-sm-3 text-center">
            <i class="icon-flag icon-4x service-icon"></i>
        </div>
        <div class="col-sm-9">
		  <!-- Heading 2 -->
		  <h2>Over 249 Icons</h2>
			<!-- Paragraph -->
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
	   </div>
    </div>

	<div class="col-lg-6">
        <div class="col-sm-3 text-center">
            <i class="icon-mobile-phone icon-4x service-icon"></i>
        </div>
        <div class="col-sm-9">
		  <!-- Heading 2 -->
		  <h2>Mobile Responsive</h2>
			<!-- Paragraph -->
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
	</div>

	<div class="col-lg-6">
        <div class="col-sm-3 text-center">
            <i class="icon-file-text-alt icon-4x service-icon"></i>
        </div>
        <div class="col-sm-9">
		  <!-- Heading 2 -->
		  <h2>Easy To Customize</h2>
			<!-- Paragraph -->
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
	</div>
    </div>
</section>

<section class="row message">
<!-- Heading 2 -->
<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Us neque, sed blandit ante. Integer eget massa blandit ante.</h2>
</section>

<section class="row">
	<div class="col-lg-4">
		<!-- Heading 2 -->
		<h2 class="title-box headline">Basic</h2>

			<!-- Unordered list -->
			<ul class="list-unstyled text-center pricing-table">
				<li class="price">$99/month</li>
				<li class="info">2 row section for you package information.<br> You can include all details or icons</li>
				<li>Up To 25 Projects</li>
				<li>10GB Storage</li>
				<li>Other info</li>
				<li><a href="#" class="btn-main-small">SIGN UP NOW!</a></li>
			</ul>
 	</div>
	<div class="col-lg-4">
		<!-- Heading 2 -->
		<h2 class="title-box headline active">Popular</h2>

			<!-- Unordered list -->
			<ul class="list-unstyled text-center pricing-table">
				<li class="price">$129/month</li>
				<li class="info">2 row section for you package information.<br> You can include all details or icons</li>
    			<li>Up To 25 Projects</li>
				<li>10GB Storage</li>
				<li>Other info</li>
				<li><a href="#" class="btn-main-small">SIGN UP NOW!</a></li>
			</ul>
	</div>
    <div class="col-lg-4">
		<!-- Heading 2 -->
		<h2 class="title-box headline">Advanced</h2>

			<!-- Unordered list -->
			<ul class="list-unstyled text-center pricing-table">
				<li class="price">$299/month</li>
				<li class="info">2 row section for you package information.<br> You can include all details or icons</li>
				<li>Up To 25 Projects</li>
				<li>10GB Storage</li>
				<li>Other info</li>
				<li><a href="#" class="btn-main-small">SIGN UP NOW!</a></li>
			</ul>
 	</div>
</section>